.div-principal{
    height: 100%;
    width: 100%;
    background: #3e8f52;
    padding: 10px;
}
// .btn-padrao{
//     background: #fff;
//     color: #3e8f52;
// }
.galeria{
    background: #fff;
    width: 100%;
    height: 100px;
    border-radius: 5px;
    
}